header {
  clear: both;
  overflow: hidden; 
}

#header {
  width: 100%;
  z-index: 9999;
}

#header .header-top-container {
  width: 100%;
  display: block;
  clear: both;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 15px 0; 
}

#header h4 {
  display: inline-block;
  margin-bottom: 3px;
  font-size: 20px;
  line-height: 40px;
  float: left;
  margin-right: 10px;
}

#header .mc-fields {
  display: inline-block;
}

#header .mc-submit-field {
  display: inline-block;
}

#header .mc-text-field {
  display: inline-block;
}

#header .mc-hidden-fields {
  display: inline-block;
}

#header input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 180px;
  padding: 8px 10px;
  line-height: 1.5;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
}

#header input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}

#header ::-webkit-input-placeholder {
  color: #999; 
}

#header ::moz-input-placeholder {
  color: #999; 
}

#header form {
  margin-bottom: 0; 
}