body {
  font-family: 'brandon_grotesquelight';
  text-rendering: optimizeLegibility;
  height: 10000px; /* Hack for sticky nav */
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}


